* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Archivo Black";
  src: url("/fonts/ArchivoBlack-Regular.woff2") format("woff2");
  font-weight: 900;
}
.page {
  background-color: #000000;
  max-width: 1440px;
  min-width: 320px;
  background:
    radial-gradient(
      circle at 80% 20%,
      rgba(109, 109, 255, 0.3) 0%,
      rgba(109, 109, 255, 0.1) 30%,
      transparent 60%
    ),
    radial-gradient(
      circle at 20% 80%,
      rgba(109, 109, 255, 0.2) 0%,
      transparent 50%
    ),
    #000000;
  object-fit: contain;
}
.profile {
  color: white;
  line-height: 1.5;
  padding: 0 120px 0 120px;
}
.profile__container {
  display: flex;
  justify-content: space-between;
}

.profile__description {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-right: 20px;
}
.profile__image {
  width: 387px;
  height: 500px;
  object-fit: cover;
  margin-top: 40px;
}

.profile__name {
  font-family: "Archivo Black", sans-serif;
  font-size: 72px;
  line-height: 100%;
  font-weight: 400;
  font-style: normal;
  margin-top: 89px;
  margin-bottom: 15px;
}

.profile__subtitle {
  font-family: "Open Sans", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin-bottom: 30px;
}

.profile__actions {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.profile__btn {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}
.profile__btn:hover {
  opacity: 0.5;
}
.profile__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: calc(100% + 5px);
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, #4c1a97 0%, #00ff7b 100%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.profile__btn:hover::after {
  transform: scaleX(1);
}
.profile__subtitle-br {
  display: none;
}
.skills {
  padding: 0 120px 0 120px;
}

.skills__title {
  margin-top: 100px;
  margin-bottom: 50px;
  font-family: "Archivo Black", Arial, sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
  font-size: 40px;
}
.skills__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.projects {
  margin: 0 120px 0 120px;
}
.projects__image {
  max-width: 590px;
  max-height: 330px;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.projects__title {
  font-family: "Archivo Black", Arial, sans-serif;
  font-size: 40px;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 50px;
}
.projects__content {
  display: flex;
  gap: 20px;
  background-color: #000000;
}
.projects__card-web {
  position: relative;
  background-color: #1c1c1c;
  max-width: 590px;
  height: auto;
  padding: 30px;
  overflow: hidden;
}
.projects__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}
.projects__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}
.projects__links {
  position: absolute;
  display: flex;
  gap: 20px;
  height: 22px;
  transition: all 0.3s ease;
  top: 280px;
}
.projects__link:hover {
  opacity: 0.7;
}
.projects__container-image {
  position: relative;
}

.overlay {
  display: flex;
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent 50%);
  z-index: 1;
  width: 100%;
}
.projects__icons {
  position: absolute;
  bottom: 10px;
  left: 12px;
  display: flex;
  gap: 10px;
  z-index: 2;
}
.projects__icon {
  width: 40px;
  height: 40px;
}
.footer {
  text-align: center;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  background-color: #0b0b14;
}
.footer__title {
  font-family: "Archivo Black", Arial, sans-serif;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
  color: #ffffff;
  margin-top: 100px;
}
.footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #6d6dff;
  font-weight: normal;
  margin-bottom: 30px;
}
.footer__links {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 100px;
}
.footer::before {
  content: "";
  position: absolute;
  inset: 0;

  background: radial-gradient(
    circle at center,
    rgba(109, 109, 255, 0.45) 0%,
    rgba(109, 109, 255, 0.25) 25%,
    rgba(109, 109, 255, 0.1) 45%,
    transparent 65%
  );

  z-index: 0;
}
.footer > * {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1023px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .profile {
    margin: 0;
    padding: 0 40px 0 40px;
  }
  .profile__image {
    max-width: 216px;
    width: 100%;
    max-height: 280px;
    height: 100%;
  }
  .profile__name {
    font-size: 58px;
    margin-top: 40px;
    margin-bottom: 14px;
  }
  .profile__subtitle {
    margin-bottom: 20px;
  }
  .bar {
    display: none;
  }
  .profile__subtitle-br {
    display: block;
  }
  .profile__description {
    max-width: 452px;
    margin-bottom: 20px;
  }
  .profile__actions {
    margin: 0;
  }
  .skills {
    padding: 0;
    margin-left: 40px;
    margin-right: 38px;
  }
  .skills__title {
    margin-top: 80px;
  }
  .projects {
    margin: 0;
  }
  .projects__title {
    margin: 0;
    margin-top: 83px;
    margin-bottom: 30px;
    margin-left: 40px;
  }
  .projects__content {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: 40px;
    max-width: 688px;
  }
  .projects__image {
    max-width: 688px;
    max-height: 330px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
  }

  .overlay {
    display: flex;
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent 50%);
    z-index: 1;
    max-width: 688px;
    max-height: 330px;
    width: 100%;
    height: 100%;
  }
  .projects__card-web {
    position: relative;
    background-color: #1c1c1c;
    max-width: 688px;
    height: auto;
    padding: 30px;
    overflow: hidden;
  }
  .projects__text {
    margin: 0;
  }
  .projects__links {
    display: flex;
    gap: 20px;
    height: 22px;
    transition: all 0.3s ease;
    position: static; /* elimina el absolute */
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .page {
    max-width: 767px;
    min-width: 320px;
    height: auto;
    padding: 20px;
  }
  .profile {
    padding: 0;
    padding-bottom: 70px;
  }
  .profile__container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .profile__name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
  }
  .profile__subtitle {
    margin: 0;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .profile__image {
    margin: 0;
    display: flex;
    order: -1;
    max-width: 280px;
    width: 280px;
    max-height: 280px;
    height: 100%;
  }
  .profile__description {
    margin: 0;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1;
  }
  .profile__actions {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .skills {
    margin: 0;
  }
  .skills__title {
    margin: 0;
    font-size: 28px;
    margin-bottom: 30px;
    line-height: 1;
  }
  .skills__list {
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
    justify-content: flex-start;
    margin-bottom: 59.8px;
  }
  .skills__icon {
    width: 30px;
    height: 34.2px;
  }
  .projects__content {
    margin: 0;
    display: flex;
    gap: 10px;
    height: auto;
  }
  .projects__title {
    margin: 0;
    font-size: 28px;
    margin-bottom: 30px;
  }
  .projects__subtitle {
    font-size: 20px;
  }
  .projects__text {
    font-size: 16px;
    margin-bottom: 20px;
    height: auto;
  }
  .projects__card-web {
    padding: 20px 20px 20px 20px;
  }
  .projects__links {
    margin: 0;
  }
  .projects__link {
    width: 132px;
    height: 22px;
  }
  .projects__icon {
    width: 20px;
    height: 20px;
  }
  .footer__title {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 28px;
  }
  .footer__links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
